{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm run build && node ./scripts/archive-extension.mjs ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": "release/chalmers-gpa-calculator-*.zip"
      }
    ]
  ]
}
